PORT=3000
NAVER_API_KEY=your_naver_api_key
NAVER_SECRET_KEY=your_naver_secret_key
NAVER_CUSTOMER_ID=your_naver_customer_id
NAVER_CLIENT_ID=your_naver_client_id
NAVER_CLIENT_SECRET=your_naver_client_secret
KV_REST_API_URL=your_upstash_redis_rest_url
KV_REST_API_TOKEN=your_upstash_redis_rest_token
